
// Variables

// 960 grid
$content-width:   960px;
$red-color:       #f63a3b;
$red-color-light: #fe6d68;




// global stuff


.bt-content {
	// 
	@extend .container; 
}


.btn {
	&.btn-red {
		@include gradient-vertical($start-color: $red-color, $end-color: $red-color-light);
	  @include reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
	  background-repeat: repeat-x;
	  // border-color: darken($red-color, 14%);

	  &:hover,
	  &:focus  {
	    background-color: $red-color;
	    // background-position: 0 -15px;
	  }

	  &:active,
	  &.active {
	    background-color: $red-color;
	    // border-color: darken($red-color, 14%);
	  }
	}
}


// all homepage styles


// Top section (above the fold) 
#bt-top {
	@include container-fixed();

	@include img-retina('../images/header-photo.jpg', '../images/header-photo@2x.jpg', 100%, 782px);
	background-position: center top;
	background-size: cover !important;

	// height: 782px;

	// hold positioning for child elements
	position: relative;

	// center child elements
	text-align: center;


	#bt-header {
		padding: 30px 0 60px 0;

		a#bt-header-signin {
			color: #333;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;

			border: 1px solid #EBEBEB;
		}
	}

	h2 { 
		margin-top: 0;
		color: $gray-light; 
	}


	#bt-screens {
		@include make-xs-column(12, 20px);

		// width: $content-width;
		height: 330px;

		@include img-retina('../images/screens-multi.png', '../images/screens-multi@2x.png', 960px, 331px);
		background-position: center top;
		background-size: contain;

		a#play-button {
			position: relative;
			top: 135px;

			padding: 15px 40px 12px;

			font-size: 30px;
			color: #fff;

			border: 0;
		}
	}

	#join-alpha-top {
		// 

	}


}








/* signup styles */

.join-alpha-container {
	margin-top: 50px;
	margin-bottom: 50px;

	h3 {
		font-weight: 600;
		text-transform: uppercase;
	}

	span {
		color: #777;
		font-size: 14px;
		// font-family: proxima_nova_alt_rgregular;
	}

	form {
		margin-top: 15px;
		margin-bottom: 20px;
	}

	input[type="submit"] {
		text-transform: uppercase;
		// font-family: proxima_nova_alt_rgbold;
		color: #FFF;
		// @include red-grad();
		font-size: 17px;
		// font-weight: bold;
		@include roundtb(0px, 3px, 0, 3px);
		padding-top: 4px;
		border: 0;
		height: 40px;
		width: 80px;
		margin: 2px 0 0 0;
	}

	input[type="text"] {
		color: #333;
		height: 40px;
		width: 240px;
		padding: 0 10px 0 10px;
		border: 0;
		position: relative;
		top: -1px;
		margin: 0 -4px 0 0;
		font-size: 17px;
		@include roundtb(3px, 0, 3px, 0);


    	&:focus {
			border-color: rgba(199, 20, 0, 0.3);
			outline: 0;
			outline: thin dotted \9;
			/* IE6-9 */

			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 20, 0, 0.3);
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 20, 0, 0.3);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 20, 0, 0.3);
		}
	}
}

.join-alpha-container-footer {
	h2 {
		color: #FFF;
	}
	span {
		color: #FFF;
	}
}


/* mid */

#bt-mid {

	
	width: 100%;
	height: 660px;
	color: #FFF;
	padding-top: 50px;
	position: relative;

	background: #202020; /* Old browsers */
	// background: -moz-linear-gradient(top, #202020 0%, #303030 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	

	h1, h2, h3 {
		color: #FFF;
	}


	h1 {
		font-size: 35px;
	}

	span {
		text-align: left;
		line-height: 33px;
		font-size: 18px;
		// font-weight:bold;
	}

}

#bt-mid-header {
	width: 650px;
	text-align: center;
	margin: 0 auto 50px auto;
}

#bt-mid-demo {
	background-image: url('../images/browser.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	width: $content-width;
	height: 337px;
	position: absolute;
	bottom: 0;
}

#bt-mid-hud {
	width: 760px;
	height: 160px;
	@include rounded(10px);
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 auto;
	position: relative;
	top: 130px;
}

$icon-size: 110px;

.bt-mid-icon {
	float: left;
	width: 110px;
	margin: 0 15px 25px 25px;
	position: absolute;
	top: 33px;
	height: $icon-size;
	text-align: middle;
	position: relative;
	@include rounded(10px);
	img {
		position: absolute;
		left: $icon-size/2-68/2;
		top:12px;
		width: 68px;
		margin: 0 auto;
	}
}

#bt-icon-selector {
	position: absolute;
	visibility: hidden;
	top: 25px;
	left: 25px;
	width: 100px;
	height: 100px;
	@include rounded(10px);
	border: 5px solid white;
}

/*.bt-mid-icon-selected {
	border: 5px solid white;
}*/

.firefox-icon {
	img {
		top: 20px;
	}
}

/* features */

#bt-features {
	width: 100%;
	height: 560px;
	background-color: #FFF;
	padding-top: 40px;

	h3 {
		// font-family: proxima_nova_ltregular;
		color: #000;
	}
	span {
		color: #000;
		font-size: 14px;
	}
}

.bt-feature-header {
	height: 80px;
}


.bt-main-feature {
	margin: 20px;
	float: left;
	width: 275px;
	text-align: center;
	margin-bottom: 60px;

	h3 {
		margin: 10px 0 0 0;
	}
}

/* extra features */

#bt-extra-features {
	width: 100%;
	text-align: center;
	padding-top: 50px;

	h3 {
		color: #000;
		text-transform: uppercase;
	}
}


.bt-extra-feature {
	text-align: left;
	background-color: #F4F4F4;
	@include rounded(2px);
	float: left;
	font-size: 13px;
	color: #666;
	padding-top: 4px;
	padding-bottom: 4px;


	width: ($content-width - 135px)/3;
	margin-left: 40px;
	margin-top: 10px;
	padding-left: 4px;

	span {
		font-size: 18px;
		padding-right: 10px;
	}
}


#all-features {
	width: $content-width;
	height: 100%;	
}


.fextra-1 {
	color: #5DB000;	
}

.fextra-0 {
	color: #FD7067;
}

/* footer */

#bt-footer {
	padding-top: 50px;
	width: 100%;
	height:420px;
	text-align: center;

	background: #28323b; /* Old browsers */
	// background: -moz-linear-gradient(top,  #28323b 0%, #2f3c44 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28323b), color-stop(100%,#2f3c44)); /* Chrome,Safari4+ */

}

#bt-content-footer {
	width: 400px;
	margin: 0 auto;
}

#bt-mid-bg {
	top: 56px;
	left: 3px;
	width: 954px;
	height: 281px;
	position: absolute;
	overflow: hidden;
	img {
		width: 100%;
	}
}


#bt-footer-footer {
	padding-top: 20px;
	font-size: 14px;
	width: 428px;
	color: #FFF;
	text-align: left;
	a {
		color: #FFF;
		// font-weight: bold;
	}
	img {
		margin-right: 5px;
		position: relative;
		top: 3px;
	}

}

#bt-footer-links {
	margin-bottom: 10px;
	span {
		padding: 0 10px;
	}
}


#bt-footer-mixpanel-badge {
	float: right;
	position: relative;
	top: 6px;
}


