//
// Global styles
// --------------------------------------------------


html, body {
	// 
}


// 
// Typopgraphy
// --------------------------------------------------


body {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "proxima-nova-alt", sans-serif;
	// color: $gray-dark;

	strong { font-weight: 700; }
}


h1 { font-size: 50px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }


// 
// Variables & mixins
// --------------------------------------------------


// 960 grid
$content-width:   960px;

$red-color:       #f63a3b;
$red-color-light: #fe6d68;


// Quick cursor prefix mixin for non-supported cursors like grab, grabbing, zoom-in, zoom-out
@mixin cursor($value) {
	cursor: -webkit-#{$value};
  cursor: -moz-#{$value};
  cursor: -o-#{$value};
  cursor: -ms-#{$value};
  cursor: $value;
}


// 
// All block styles
// --------------------------------------------------


.content {
	@extend .container; 
}


// 
// Signup styles
// --------------------------------------------------


.join-alpha-container {
	// @include make-lg-column(5);
	// @include make-lg-column-offset(4);

	margin: 0 auto;
	max-width: 340px;

	margin-top:    40px;
	margin-bottom: 70px;

	h3 {
		font-weight: 600;
		text-transform: uppercase;
	}

	span.text-muted { color: #777; }

	.input-group {
		margin-top: 10px;

		input, button {
			border: 0;
			height: 40px;

		}

		input[type="text"] {
			@include box-shadow(none);
			@include form-control-focus($red-color);

			// width: 240px;
		}

		button[type="submit"] {
			text-transform: uppercase;
			font-size: 17px;
			font-weight: 600;

			width: 80px;
		}
	}

	&#join-alpha-top {
		// 
	}

	&#join-alpha-bottom {
		h3, span { color: #fff; }
	}
	

}


.btn {
	&.btn-red {
		@include gradient-vertical($start-color: $red-color, $end-color: $red-color-light);
	  @include reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
	  background-repeat: repeat-x;

	  color: #fff;
	  border: 0;
	  // border-color: darken($red-color, 14%);

	  &:hover,
	  &:focus {
	  	border: 0;
	    background-color: $red-color;
	    // background-position: 0 -15px;
	  }

	  &:active,
	  &.active {
	    background-color: $red-color;
	    @include gradient-vertical($start-color: darken($red-color, 14%), $end-color: darken($red-color-light, 14%));
	    // border-color: darken($red-color, 14%);
	  }
	}
}



// 
// Top block (above the fold) 
// --------------------------------------------------

#top {
	@include container-fixed();

	@include img-retina('../images/header-photo.jpg', '../images/header-photo@2x.jpg', 100%, 782px);
	background-position: center top;
	background-size: cover !important;

	// height: 782px;

	// hold positioning for child elements
	position: relative;

	// center child elements
	text-align: center;


	#header {
		padding: 30px 0 60px 0;

		a#header-signin {
			color: #333;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;

			border: 1px solid #EBEBEB;
		}
	}

	h2 { 
		margin-top: 0;
		color: $gray-light; 
	}


	#screens {
		@include make-xs-column(12, 20px);

		// width: $content-width;
		height: 330px;

		@include img-retina('../images/screens-multi.png', '../images/screens-multi@2x.png', 960px, 331px);
		background-position: center top;
		background-size: contain;

		a#play-button {
			position: relative;
			top: 135px;

			padding: 15px 40px 12px;

			font-size: 30px;
		}
	}

}




// 
// Middle block (at the fold)
// --------------------------------------------------

#mid {
	@include container-fixed();

	@include gradient-vertical($start-color: #202020, $end-color: #303030);

	padding-top: 50px;

	color: #fff;

	h2 {
		text-align: center;
		font-size: 35px;
		margin-bottom: 50px;
	}
	h4 {
		font-size: 18px;
		line-height: 33px;
	}

	#mid-demo {
		// Browser hover demo using JS
		// check main.js injectHoverStates for functionality

		@include img-retina('../images/browser.png', '../images/browser@2x.png', 960px, 337px);
		background-position: bottom;
		background-size: contain !important;

		// width: $content-width;
		height: 337px;

		position: relative;
		// bottom: 0;

		#mid-bg {
			// Browsers in the Background

			position: absolute;
			width: ($content-width - 6);
			height: 281px;

			overflow: hidden;

			top: 56px;
			left: 3px;

			img {
				// 
				@include img-responsive();
			}
		}

		#mid-hud {
			// Browser HUD container

			$icon-size: 75px;
			$icon-container: ($icon-size + 35);
			$hud-container: ($icon-container + 50);

			position: relative;
			top: 130px;

			width: 750px;
			height: $hud-container;

			background-color: rgba(0, 0, 0, 0.8);
			margin: 0 auto;

			border-radius: 10px;

			@include cursor(grab);

			.mid-icon {
				// float them side by side
				float: left;

				// make the icon container a square and center it vertically.
				@include square($icon-container);
				margin: (($hud-container - $icon-container) / 2) 20px;

				// vertically and horizontally center the child content.
				padding: (($icon-container - $icon-size) / 2);

				img {
					@include square($icon-size);
				}

				&.mid-icon-selected {
					// 
				}
			}

			#icon-selector {
				// the hover object that outlines a selected mid-icon

				visibility: hidden; // hidden by default

				position: absolute;
				top: 30px;
				left: 25px;

				// make a square with a rounded 5px white border
				@include square(100px);
				border-radius: 10px;
				border: 4px solid white;

				&:hover {
					@include cursor(grabbing);
				}
			}
		}
	}

}

// 
// Feature set block
// --------------------------------------------------

#features {
	@include container-fixed();

	padding-top: 40px;
	color: #000;

	.main-feature { 
		@include make-sm-column(6, 30px);
		@include make-md-column(4, 30px);

		text-align: center;

		margin-top: 20px;
		margin-bottom: 60px;

		.feature-header {
			// normalize feature image heights
			height: 80px;
		}

		h3 {
			font-family: "proxima-nova", sans-serif;
			font-weight: 300;
			margin-top: 10px;
		}
	}
}

// 
// Extra features block
// --------------------------------------------------


/* extra features */

#extra-features {
	width: 100%;
	text-align: center;
	padding-top: 50px;

	h3 {
		color: #000;
		text-transform: uppercase;
	}
}


.extra-feature {
	text-align: left;
	background-color: #F4F4F4;
	// @include rounded(2px);
	float: left;
	font-size: 13px;
	color: #666;
	padding-top: 4px;
	padding-bottom: 4px;


	width: ($content-width - 135px)/3;
	margin-left: 40px;
	margin-top: 10px;
	padding-left: 4px;

	span {
		font-size: 18px;
		padding-right: 10px;
	}
}


#all-features {
	width: $content-width;
	height: 100%;	
}


.fextra-1 {
	color: #5DB000;	
}

.fextra-0 {
	color: #FD7067;
}

/* footer */

#footer {
	padding-top: 50px;
	width: 100%;
	height:420px;
	text-align: center;

	background: #28323b; /* Old browsers */
	// background: -moz-linear-gradient(top,  #28323b 0%, #2f3c44 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28323b), color-stop(100%,#2f3c44)); /* Chrome,Safari4+ */

}

#content-footer {
	width: 400px;
	margin: 0 auto;
}




#footer-footer {
	padding-top: 20px;
	font-size: 14px;
	width: 428px;
	color: #FFF;
	text-align: left;
	a {
		color: #FFF;
		// font-weight: bold;
	}
	img {
		margin-right: 5px;
		position: relative;
		top: 3px;
	}

}

#footer-links {
	margin-bottom: 10px;
	span {
		padding: 0 10px;
	}
}


#footer-mixpanel-badge {
	float: right;
	position: relative;
	top: 6px;
}


