body {
  font-family: "proxima_nova_rgregular";
  margin: 0px;
  padding: 0px; }

h1, h2, h3 {
  font-family: proxima_nova_alt_rgregular;
  font-weight: normal;
  color: #333; }
  h1 strong, h2 strong, h3 strong {
    font-family: proxima_nova_alt_rgbold;
    font-weight: normal; }

.clear {
  clear: both; }

input {
  font-family: proxima_nova_rgregular; }

span, p {
  font-family: proxima_nova_ltregular; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 26px; }

a {
  font-family: "proxima_nova_alt_rgregular";
  font-weight: normal;
  text-decoration: none;
  color: #fe6d68; }
  a:hover {
    text-decoration: none; }

/* all homepage styles */
.bt-content {
  margin: 0 auto;
  width: 960px;
  height: 100%; }

/* header styles */
#bt-header {
  padding-top: 30px;
  padding-bottom: 60px; }
  #bt-header img {
    float: left; }

#bt-header-signin {
  float: right;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  background-color: #FFF;
  padding: 6px 10px 5px 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  font-size: 13px;
  border: 1px solid #EBEBEB; }

#bt-top {
  background-image: url("../images/header photo.jpg");
  width: 100%;
  height: 780px;
  position: relative;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  #bt-top h3 {
    font-family: proxima_nova_ltregular;
    margin-top: -20px;
    color: #999; }

#bt-screens {
  background-image: url("../images/screens.png");
  width: 960px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 310px;
  position: absolute;
  bottom: 0px; }

.play-button {
  background: #f63a3b;
  /* Old browsers */
  top: 135px;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  padding: 30px 40px;
  text-align: center; }
  .play-button img {
    position: relative;
    top: 10px; }

a img {
  border: 0px; }

/* signup styles */
.join-alpha-container {
  margin-top: 50px;
  margin-bottom: 50px; }
  .join-alpha-container h2 {
    text-transform: uppercase;
    font-family: proxima_nova_alt_rgbold;
    margin-bottom: 15px; }
  .join-alpha-container span {
    color: #777;
    font-size: 14px;
    font-family: proxima_nova_alt_rgregular; }
  .join-alpha-container form {
    margin-top: 15px; }
  .join-alpha-container input[type="submit"] {
    text-transform: uppercase;
    font-family: proxima_nova_alt_rgbold;
    color: #FFF;
    background: #f63a3b;
    /* Old browsers */
    font-size: 17px;
    font-weight: bold;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    padding-top: 4px;
    border: 0px;
    height: 40px;
    width: 80px;
    margin: 2px 0 0 0; }
  .join-alpha-container input[type="text"] {
    color: #333;
    height: 40px;
    width: 240px;
    padding: 0 10px 0 10px;
    border: 0;
    position: relative;
    top: -1px;
    margin: 0 -4px 0 0;
    font-size: 17px;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px; }
    .join-alpha-container input[type="text"]:focus {
      border-color: rgba(199, 20, 0, 0.3);
      outline: 0;
      outline: thin dotted \9;
      /* IE6-9 */
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 20, 0, 0.3);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 20, 0, 0.3);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(199, 20, 0, 0.3); }

.join-alpha-container-footer h2 {
  color: #FFF; }
.join-alpha-container-footer span {
  color: #FFF; }

/* mid */
#bt-mid {
  width: 100%;
  height: 600px;
  color: #FFF;
  padding-top: 50px;
  position: relative;
  background: #202020;
  /* Old browsers */ }
  #bt-mid h1, #bt-mid h2, #bt-mid h3 {
    color: #FFF; }
  #bt-mid h1 {
    font-size: 35px; }
  #bt-mid span {
    text-align: left;
    line-height: 33px;
    font-size: 18px;
    font-weight: bold; }

#bt-mid-header {
  width: 650px;
  text-align: center;
  margin: 0 auto 50px auto; }

#bt-mid-demo {
  background-image: url("../images/browser.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 960px;
  height: 337px;
  position: absolute;
  bottom: 0px; }

#bt-mid-hud {
  width: 760px;
  height: 160px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  position: relative;
  top: 130px; }

.bt-mid-icon {
  float: left;
  width: 110px;
  margin: 0 15px 25px 25px;
  position: absolute;
  top: 33px;
  height: 110px;
  text-align: middle;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px; }
  .bt-mid-icon img {
    position: absolute;
    left: 55px -68/2;
    top: 12px;
    width: 68px;
    margin: 0 auto; }

#bt-icon-selector {
  position: absolute;
  visibility: hidden;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 5px solid white; }

/*.bt-mid-icon-selected {
	border: 5px solid white;
}*/
.firefox-icon img {
  top: 20px; }

/* features */
#bt-features {
  width: 100%;
  height: 560px;
  background-color: #FFF;
  padding-top: 40px; }
  #bt-features h3 {
    font-family: proxima_nova_ltregular;
    color: #000; }
  #bt-features span {
    color: #000;
    font-size: 14px; }

.bt-feature-header {
  height: 80px; }

.bt-main-feature {
  margin: 20px;
  float: left;
  width: 275px;
  text-align: center;
  margin-bottom: 60px; }
  .bt-main-feature h3 {
    margin: 10px 0 0 0; }

/* extra features */
#bt-extra-features {
  width: 100%;
  text-align: center;
  padding-top: 50px; }
  #bt-extra-features h3 {
    color: #000;
    text-transform: uppercase; }

.bt-extra-feature {
  text-align: left;
  background-color: #F4F4F4;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  float: left;
  font-size: 13px;
  color: #666;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 275px;
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 4px; }
  .bt-extra-feature span {
    font-size: 18px;
    padding-right: 10px; }

#all-features {
  width: 960px;
  height: 100%; }

.fextra-1 {
  color: #5DB000; }

.fextra-0 {
  color: #FD7067; }

/* footer */
#bt-footer {
  padding-top: 50px;
  width: 100%;
  height: 420px;
  text-align: center;
  background: #28323b;
  /* Old browsers */ }

#bt-content-footer {
  width: 400px;
  margin: 0 auto; }

#bt-mid-bg {
  top: 56px;
  left: 3px;
  width: 954px;
  height: 281px;
  position: absolute;
  overflow: hidden; }
  #bt-mid-bg img {
    width: 100%; }

#bt-footer-footer {
  padding-top: 20px;
  font-size: 14px;
  width: 428px;
  color: #FFF;
  text-align: left; }
  #bt-footer-footer a {
    color: #FFF;
    font-weight: bold; }
  #bt-footer-footer img {
    margin-right: 5px;
    position: relative;
    top: 3px; }

#bt-footer-links {
  margin-bottom: 10px; }
  #bt-footer-links span {
    padding: 0 10px; }

#bt-footer-mixpanel-badge {
  float: right;
  position: relative;
  top: 6px; }
