{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		
		// Add the missing url to the text
		$("#url").text(window.location.pathname);
		
		// Fix the css locations dynamically
		$("head link").each(function() {
			for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
				$(this).attr("href", "../" + $(this).attr("href"));
		});
		
	})
</script>

<div id="wrapper">
	<div class="center">
		<p> Sorry, you're not authorized to view <b id="url"></b> on this server. </p>
	</div>
</div>
{% endblock %}
